# OD - Project 1 - Milestone 1 - Thyroid

In [1]:
import pandas as pd
from scipy.io import loadmat

In [2]:
data = loadmat('thyroid.mat')
print(data.keys())

dict_keys(['__header__', '__version__', '__globals__', 'X', 'y'])

In [3]:
X = pd.DataFrame(data['X'])
y = pd.Series(data['y'][:,0])

In [4]:
print(X.shape, y.shape)

(3772, 6) (3772,)

In [5]:
X.head()

          0         1         2         3         4         5
0  0.774194  0.001132  0.137571  0.275701  0.295775  0.236066
1  0.247312  0.000472  0.279886  0.329439  0.535211  0.173770
2  0.494624  0.003585  0.222960  0.233645  0.525822  0.124590
3  0.677419  0.001698  0.156546  0.175234  0.333333  0.136066
4  0.236559  0.000472  0.241935  0.320093  0.333333  0.247541

In [6]:
y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
dtype: float64

In [7]:
y.value_counts(dropna=False)

0.0    3679
1.0      93
dtype: int64

In [8]:
# END